.signinBtn{
    -fx-background-color: #fdfdfc;
}

.backdropBtn{
    -fx-background: linear-gradient(to bottom, #0c0b0b 0%, #8f0d0d 100%);
}


.backdrop {
    -fx-background: linear-gradient(to bottom, #ffff66 0%, #ff6600 100%);
}
.controlIcon {
    -fx-background: linear-gradient(to bottom, #e4dfdf 0%, #f4f3f0 100%);
}
div {
    background: linear-gradient(to bottom right, #ffff66 0%, #ff6600 100%);
}
